.btn-close-entry{
    width: 150px;
}
.action-handler{
    color: #3c8dbc;
    cursor: pointer;
}
.details-data-content{
    text-align: left;
}
.take-form-wrapper{
 /*    display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
}
#OrdersTable> tbody >.odd{
    height: 55px!important;
}
#OrdersTable> tbody > .even{
    height: 55px!important;
}
.take-btn-lg{
    width: 150px;
} 
.take-btn-table-wrapper{
    text-align: end;
    padding-right: 10px;
}